.margin-t-13{margin-top: 13px;}

.row_margin{margin-top: 15px;}

.header_margin_top{margin-top: 56px;}

.footer_margin_top{margin-top: 40px;}

.buttons_margin_top{margin-top:30px;}

.margin_shortcut{margin-top:150px;}

.button_hw{margin-right:20px;height:42px;width: 160px;}

.button_margin_right{margin-right: 15px;}

.master_form_img{background-image:url("http://localhost:8080/SMT/staticContent/y_images/21.jpg");}

/* heading style */
.style_heading{
	
	background: #5bc0de;
    border-radius: 10px;
    width: 585px;
    padding: 10px;
    text-shadow: 0px 2px 30px #00000000;
    font-weight: 1000;
    box-shadow: 0px 3px 3px #00000038;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 35px;
			  }	

	 		   
/*label style*/

.control-label{  
				font-size: 18px;
				color: black;
		 	   }



.control-label:hover{ font-family:'Lobster',cursive; 
						font-shadow: 0 0 3px;
						font-size:19px;
					}
/* Input box style */
input[type="text"] { 
	    font-size: 13px;
	    font-weight: bold;
}

/* button shadow */
input[type=button]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=reset]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
	 
h2 {
	color: black;
}	 
	
	a:hover { 
    background-color: yellow;
}


/* shortcut_style */
.shortcut_style
{
 text-shadow: 0 0 3px #237892;
  font-family:'Lobster',cursive;
}

.margin_top_bottom
  {
    margin-top:15px;
     margin-bottom:15px;
  }
  
  
  .header {
		text-align: center;
		font-family: "Verdana";
		font-size: 20px;
}
   
   /* Input text Shadow */
  input[type=text]:hover {
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  }
   
